<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="css/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
	crossorigin="anonymous"></script>

<title>Spring eCommerce</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">
<link th:href="@{/css/estilos.css}" rel="stylesheet">

</head>

<body class="fondo-login">


	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div align="center" class="card-header">
									<img  width="150px" height="150px" alt="" src="/img/Tec.png">
								</div>
								<div class="card-body">
									<form th:action="@{/usuario/login}" method="post">
										<div class="form-group">
											<label for="email"> Email: </label> <input type="email"
												class="form-control" id="username" name="username"
												placeholder="Ingrese su email" required autocomplete="off">

										</div>
										<div class="form-group">
											<label for="pwd"> Contraseña:</label> <input type="password"
												class="form-control" id="password" name="password"
												placeholder="Ingrese su contraseña" required>
										</div>

										<div class="form-group">
											<div class="col-sm-2">
												<button type="submit" class="btn btn-dark">
													<span class="glyphicon glyphicon-ok"></span> Ingresar
												</button>
											</div>
										</div>
									</form>
								</div>
								<div class="card-footer text-center py-3">
									<div class="small">
										<a th:href="@{/usuario/registro}" class="card-link">Si aún
											no tiene cuenta aqui puede registrarse</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>


		
	<!-- /.container -->

	

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>