<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="administrador/template_admin2.html::head">

  
</head>

<body class="sb-nav-fixed">

  <!-- Navigation -->
  <div th:include="administrador/template_admin2.html::cabecera"></div>

    <!-- Page Content -->
    <div align="center" class="contenedor">

      <img  alt="" th:src="@{/img/Tec.png}">
      <!-- Page Features -->
      <div class="row text-center">

       

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    
    <div th:include="administrador/template_admin2.html::contenido"></div>

	
    

 <!-- Bootstrap core JavaScript -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
